<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ui/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ui/index.html [L]
</IfModule>